<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logged Out</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        {% block content %}
        <article>
            <h2>Sesión Cerrada</h2>
            <p>Puedes <a href="{% url 'login' %}">Iniciar Sesión</a> de nuevo</p>
            <a role="button" href="{% url 'login' %}" style="background-color: rgb(0, 209, 0);">Iniciar Sesión</a>
        </article>

        {% endblock %}
        
    </body>
</html>