<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalles Libro</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h2>Detalles del Libro</h2>

        <a href="{% url 'listadoLibros' %}" role="button">Volver a <u>Todos los Libros</u> </a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Volver a <u>Libros Disponibles</u> </a>
        <a href="{% url 'misLibros' %}" role="button">Volver a <u>Mis Libros</u> </a>
        <a href="{% url 'listadoAlfabeticos' %}" role="button">Volver a <u>Busqueda Libros</u> </a>
        
        <article>
            <p><strong>Titulo:</strong> {{ object.titulo }}</p>
            <p>
                <strong>Autor:</strong> <!-- Para mostrar correctamente el nombre del autor correspondiente --->
                {% for autor in object.autores.all %}
                        {{ autor.nombre }}
                {% endfor %}
            </p>

            <p><strong>Editorial:</strong> {{ object.editorial }}</p>
            <p><strong>Fecha de Publicacion:</strong> {{ object.fecha_publicacion }}</p>
            <p><strong>Genero:</strong> {{ object.genero }}</p>
            <p><strong>ISBN:</strong> {{ object.ISBN }}</p>
            <p><strong>Disponibilidad:</strong> {{ object.disponibilidad }}</p>

            <p><strong>Portada:</strong> 
                <p></p> <!-- Espacio de linea --> 
                <img style="height: 400px" src="{{ object.portada.url }}" alt="Portada de {{ object.titulo }}">
            </p>

            <a href="{% url 'editarLibros' pk=object.pk %}" role="button" style="background-color: rgb(224, 198, 0);">Editar</a>

            {% if object.disponibilidad == 'disponible' %}
                <a href="{% url 'prestarLibros' pk=object.pk %}" role="button" style="background-color: rgb(255, 157, 0);">Prestar</a>
            {% endif %}

            <a href="{% url 'borrarLibros' pk=object.pk %}" role="button" style="background-color: rgb(179, 1, 1);">Borrar</a>
        </article>

    </body> 
</html>