<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devolver Libro</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>
    <body style="padding: 20px;">

        <h2>Confirmar Devolución</h2>

        <a href="{% url 'listadoLibros' %}" role="button">Volver a <u>Todos los Libros</u> </a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Volver a <u>Libros Disponibles</u> </a>
        <a href="{% url 'misLibros' %}" role="button">Volver a <u>Mis Libros</u> </a>
        <a href="{% url 'listadoAlfabeticos' %}" role="button">Volver a <u>Busqueda Libros</u> </a>

        <article>
            <p>¿Estás seguro de que quieres <b>DEVOLVER</b> este libro?</p>
            <p><b>PUEDES VOLVER A PRESTARLO MÁS TARDE.</b></p>
        </article>

        <form action="{% url 'devolverLibros' pk=prestamo.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Confirmar Devolución" style="background-color: rgb(140, 0, 255);">
        </form>
    </body>
</html>
