<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Editar Libro</h1>

        <a href="{% url 'listadoLibros' %}" role="button">Volver al Listado</a>
        <p></p> <!-- Espacio de linea -->

        <form action="{% url 'editarLibros' pk=object.pk %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Libro Editado</button>
        </form>

    </body> 
</html>