<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Libro</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Editar Libro</h1>

        <a href="{% url 'listadoLibros' %}" role="button">Volver a <u>Todos los Libros</u> </a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Volver a <u>Libros Disponibles</u> </a>
        <a href="{% url 'misLibros' %}" role="button">Volver a <u>Mis Libros</u> </a>
        <a href="{% url 'listadoAlfabeticos' %}" role="button">Volver a <u>Busqueda Libros</u> </a>

        <form action="{% url 'editarLibros' pk=object.pk %}" enctype="multipart/form-data" method="post">
            <article>
                {% csrf_token %}
                {{ form.as_p }}
            </article>
            
            <button type="submit">Guardar Libro Editado</button>
        </form>

    </body> 
</html>