<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">


        <h1>Listado de Libros</h1>

        <a role="button" href="{% url 'anadirLibros' %}"> Añadir un Libro Nuevo </a>

        {% for book in object_list %}
            <article>    

                <p> {{ book.titulo }} </p>
                <a href="{% url 'detallesLibros' pk=book.pk %}" role="button">Detalles</a>
                <p></p> <!-- Espacio de linea -->
                <p> <img style="height: 400px" src="{{ book.portada.url }}" alt="Portada de {{ book.titulo }}"> </p>
                
            </article>
        {% endfor %}
    
    </body>
</html>