<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Libros</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Listado Alfabético de Libros</h1>

        <a role="button" href="{% url 'anadirLibros' %}" style="background-color: green;"> Añadir un Libro Nuevo </a>
        <a href="{% url 'listadoLibros' %}" role="button">Todos los Libros</a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Libros Disponibles</a>
        <a href="{% url 'misLibros' %}" role="button">Mis Libros</a>
        <a href="{% url 'listadoAlfabeticos' %}" role="button" style="background-color: red;">Libros A-Z</a>
        <p></p> <!-- Espacio de linea -->

        <!-- Orden por título o autor -->
        <article>
            <form action="" method="get">
                <label for="filtro">Ordenar por:</label>

                <select id="filtro" name="filtro">
                    <option value="" selected disabled>Seleccione un valor...</option>
                    <option value="titulo">Titulo</option>
                    <option value="autor">Autor</option>
                </select>

                <input type="submit" value="Ordenar">
            </form>

            <!-- Texto que indica el filtro actual -->
            {% if request.GET.filtro %}
                <p> 
                    <strong> 
                        Se está ordenando por: <u>{{ request.GET.filtro|capfirst }}</u> 
                    </strong> 
                </p>
            {% endif %}
        </article>

        <!-- Listado de libros -->
        {% for book in object_list %}
            <article>
                <h3><u>Titulo:</u> {{ book.titulo }}</h3>

                <h5> <u>Autor:</u>
                    {% for author in book.autores.all %}
                        {{ author.nombre }}{% if not forloop.last %}, {% endif %} <!-- Para mostrar correctamente el nombre del autor correspondiente --->
                    {% endfor %}
                </h5>

                <p>
                    <a href="{% url 'detallesLibros' pk=book.pk %}" role="button">Detalles</a>
                </p>

                <p>
                    <img style="height: 200px" src="{{ book.portada.url }}" alt="Portada de {{ book.titulo }}">
                </p>
            </article>

        {% empty %}
            <p>No hay libros disponibles.</p>
        {% endfor %}

    </body>
</html>