<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libros Disponibles</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Libros Disponibles</h1>

        <a role="button" href="{% url 'anadirLibros' %}"> Añadir un Libro Nuevo </a>
        <a href="{% url 'listadoLibros' %}" role="button">Todos los Libros</a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Libros Disponibles</a>
        <a href="{% url 'misLibros' %}" role="button">Mis Libros</a>
        <p></p> <!-- Espacio de linea -->
        
        {% for book in object_list %}
            <article>    

                <h3> {{ book.titulo }} </h3>
                <a href="{% url 'detallesLibros' pk=book.pk %}" role="button">Detalles</a>
                <p></p> <!-- Espacio de linea -->
                <p> <img style="height: 400px" src="{{ book.portada.url }}" alt="Portada de {{ book.titulo }}"> </p>
            
            </article>

            {% empty %}
            <article>
                <li>No tienes libros disponibles.</li>
            </article>
        {% endfor %}
        
    </body>
</html>