<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado Disponibles</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Listado Libros Disponibles</h1>
        <a href="{% url 'listadoLibros' %}" role="button">Listado de Todos los libros</a>
        <p></p> <!-- Espacio de linea -->

        <h2>Prestados</h2>
        <h2>Devueltos</h2>
    
    </body>
</html>