<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">


        <h1>Listado de Libros</h1>

        <a role="button" href="{% url 'anadirLibros' %}" style="background-color: green;"> Añadir un Libro Nuevo </a>
        <a href="{% url 'listadoLibros' %}" role="button" style="background-color: red;">Todos los Libros</a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Libros Disponibles</a>
        <a href="{% url 'misLibros' %}" role="button">Mis Libros</a>
        <a href="{% url 'listadoAlfabeticos' %}" role="button">Libros A-Z</a>

        {% for book in object_list %}
            <article>    

                <h3> {{ book.titulo }} </h3>
                <a href="{% url 'detallesLibros' pk=book.pk %}" role="button">Detalles</a>
                <p></p> <!-- Espacio de linea -->
                <p> <img style="height: 400px" src="{{ book.portada.url }}" alt="Portada de {{ book.titulo }}"> </p>
                
            </article>
        {% endfor %}
        
        <article>
            {% if page_obj.has_previous %}
                <a href="{% url 'listadoLibros' %}?page={{ page_obj.previous_page_number }}">Página {{ page_obj.previous_page_number }}</a> -
            {% endif %}

            Página {{ page_obj.number }}

            {% if page_obj.has_next %}
                - <a href="{% url 'listadoLibros' %}?page={{ page_obj.next_page_number }}">Página {{ page_obj.next_page_number }}</a>
            {% endif %}
        </article>
    
    </body>
</html>