<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Libros</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Mis Libros</h1>

        <a role="button" href="{% url 'anadirLibros' %}"> Añadir un Libro Nuevo </a>
        <a href="{% url 'listadoLibros' %}" role="button">Todos los Libros</a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Libros Disponibles</a>
        <a href="{% url 'misLibros' %}" role="button">Mis Libros</a>
        <p></p> <!-- Espacio de linea -->
        
        <h2>Libros Prestados</h2>
        <article>
            {% for prestamo in prestamos_prestados %}
                <p> 
                    <b>Titulo:</b> {{ prestamo.libro_prestado.titulo }}
                    <br>
                    <b>Fecha Préstamo:</b> {{ prestamo.fecha_prestamo }}
                    <br><br>
                    <a href="{% url 'devolverLibros' pk=prestamo.pk %}" role="button">Devolver</a>
                </p>
            {% empty %}
                <p>No tienes libros prestados.</p>
            {% endfor %}
        </article>

        <h2>Libros Devueltos</h2>
        
        <article>
            {% for prestamo in prestamos_devueltos %}
                <p> 
                    <b>Titulo:</b> {{ prestamo.libro_prestado.titulo }}  
                    <br> 
                    <b>Fecha Devolución:</b> {{ prestamo.fecha_devolucion }}
                </p>
            {% empty %}
                <p>No tienes historial de libros devueltos.</p>
            {% endfor %}
        </article>

    </body>
</html>