<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Libros</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <h1>Listado Mis Libros</h1>
        
        <a role="button" href="{% url 'anadirLibros' %}"> Añadir un Libro Nuevo </a>
        <a href="{% url 'listadoLibros' %}" role="button">Listado de Todos los libros</a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Libros Disponibles</a>
        <a href="{% url 'misLibros' %}" role="button">Mis Libros</a>
        <p></p> <!-- Espacio de linea -->
        
        <h2>Libros Prestados</h2>
        <h2>Libros Devueltos</h2>
    
    </body>
</html>