<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prestar Libro</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>
    <body style="padding: 20px;">

        <h2>Prestar Libro</h2>
        
        <a href="{% url 'listadoLibros' %}" role="button">Volver al Listado Completo</a>
        <a href="{% url 'listadoDisponibles' %}" role="button">Volver a Disponibles</a>
        <a href="{% url 'misLibros' %}" role="button">Volver a Mis Libros</a>
        <a href="{% url 'listadoAlfabeticos' %}" role="button">Volver a Libros A-Z</a>

        <form action="" method="post">
            <article>
                <p>¿Estás seguro  de que quieres PRESTAR este libro?</p>
                <p><b>PUEDES DEVOLVERLO MÁS TARDE.</b></p>
            
                {% csrf_token %}
                {{ form.as_p }}
            
                <input type="submit" value="Confirmar Prestamo">
            </article>
        </form>

    </body>
</html>
