<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prestar</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>

    <body style="padding: 20px;">

        <form action= "{% url 'prestarLibros' pk=object.pk %}" method="post">

            {% csrf_token %}
            {{ form.as_p }}
            
            <input type="submit" value="Prestar">
            
        </form>

    </body> 
</html>